#!/bin/bash

echo "--------------------" >> /var/log/update_image_{{ item }}.log

date >> /var/log/update_image_{{ item }}.log

BUILD_NUMBER=$(ssh ansible@vpsgaelle.gaga.com cat /etc/prod/{{ item }}.version)

echo "{{ item }} $BUILD_NUMBER" >> /var/log/update_image_{{ item }}.log

kubectl set image deploy {{ nom_deploiement[item] }} {{ item }}=teamgaga/{{ item }}:$BUILD_NUMBER --namespace={{ nom_domaine[item] }}
echo 'fin' >> /var/log/update_image_{{ item }}.log
