{{ domain }}.                   IN      SOA     sns.dns.icann.org. noc.dns.icann.org. 2019081441 7200 3600 1209600 3600
{{ ansible_facts['hostname'] }}.{{ domain }}.            IN      A       {{ ansible_facts['default_ipv4']['address'] }}

